
h1 {
    background-color: rgb(236, 204, 98);
    text-align: center;
}
h2 {
    background-color: rgb(36, 106, 235);
    color: rgb(226, 223, 216);
    text-align: center;
}
h3 {
    text-align: center;
}
.footer{
    background-color: black;
    color: white;
    height: 10vh;
    text-align: center;
    margin-top: 5vh;
}
.it {
    background: linear-gradient(to right, rgb(250, 214, 115),rgb(182, 129, 50)) ;
}
.img-fluid{
    border: 3px solid rgb(233, 229, 236);
    border-radius: 10%;
    opacity: 0.9;
}